.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.ibb.co/H4G12p9/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .login-container{
        background-color: #172235;
        width: 40rem;
        height: 35rem;
        padding: 3rem;
        border-radius: 2rem;
        margin: 1rem;
        display: grid;
        justify-content: center;
        text-align: center;
        .login-title{
            color: #fff;
            font-size: 3rem;
            font-weight: bold;
            cursor: default;
        }
        .input-placeholder{
            width: 20rem;
            height: 3rem;
            margin: 1rem 0;
            padding: 0.5rem;
            border: none;
            border-radius: 0.5rem;
            outline: none;
            background-color: #1c2941;
            color: white;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
        }
        .input-placeholder:hover{
            background-color: #2b3f64;
        }
        .input-placeholder::placeholder {
            color: #ffffff;
        }
        .login-btn{
            width: 20rem;
            margin: 1rem 0;
            padding: 0.5rem;
            border: none;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            outline: none;
            background-color: #e2a300;
            color: white;
            cursor: pointer;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
        }
        .login-btn:hover{
            background-color: #b58200;
        }
        .sub-btns{
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            .sub-btn{
                padding: 0.5rem;
                font-size: 1rem;
                color: white;
                cursor: pointer;
                font-weight: bold;
                transition: all 0.3s ease-in-out;
            }
            .sub-btn:hover{
                color: #aaaaaa;
            }
        }
    }
}
