* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login .login-container {
  background-color: #172235;
  width: 40rem;
  min-height: 35rem;
  padding: 3rem;
  border-radius: 2rem;
  margin: 1rem;
  display: grid;
  justify-content: center;
  text-align: center;
}
.login .login-container .login-title {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  cursor: default;
}
.login .login-container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .login-container .text-danger {
  color: #ff0000;
  font-size: 1rem;
  font-weight: bold;
  cursor: default;
}
.login .login-container .input-placeholder {
  width: 20rem;
  height: 3rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: #1c2941;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.login .login-container .input-placeholder:hover {
  background-color: #2b3f64;
}
.login .login-container .input-placeholder::-moz-placeholder {
  color: #ffffff;
}
.login .login-container .input-placeholder::placeholder {
  color: #ffffff;
}
.login .login-container .login-btn {
  width: 20rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  background-color: #e2a300;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.login .login-container .login-btn:hover {
  background-color: #b58200;
}
.login .login-container .sub-btns {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.login .login-container .sub-btns .sub-btn {
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.login .login-container .sub-btns .sub-btn:hover {
  color: #aaaaaa;
}

.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.register .register-container {
  background-color: #172235;
  width: 40rem;
  min-height: 52rem;
  padding: 3rem;
  border-radius: 2rem;
  margin: 1rem;
  display: grid;
  justify-content: center;
  text-align: center;
}
.register .register-container .register-title {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  cursor: default;
}
.register .register-container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register .register-container .text-danger {
  color: #ff0000;
  font-size: 1rem;
  font-weight: bold;
  cursor: default;
}
.register .register-container .input-placeholder {
  width: 20rem;
  height: 3rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: #1c2941;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.register .register-container .input-placeholder:hover {
  background-color: #2b3f64;
}
.register .register-container .input-placeholder::-moz-placeholder {
  color: #ffffff;
}
.register .register-container .input-placeholder::placeholder {
  color: #ffffff;
}
.register .register-container .register-btn {
  width: 20rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  background-color: #e2a300;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.register .register-container .register-btn:hover {
  background-color: #b58200;
}
.register .register-container .sub-btns {
  display: flex;
  margin: 1rem 0;
}
.register .register-container .sub-btns .sub-btn {
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.register .register-container .sub-btns .sub-btn:hover {
  color: #aaaaaa;
}

.cf-container {
  background-color: #ffffff;
  width: 400px;
  padding: 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  perspective: 300px;
}

.coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 32px auto;
  transform-style: preserve-3d;
}
.coin img {
  width: 145px;
}

.heads, .tails {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.tails {
  transform: rotateX(180deg);
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1980deg);
  }
}
@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(2160deg);
  }
}
.stats {
  display: flex;
  color: #101020;
  font-weight: 500;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 55px;
  box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
}
.stats p:nth-last-child(1) {
  margin-left: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 150px;
  padding: 15px 0;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#flip-button {
  background-color: #053469;
  color: #ffffff;
}
#flip-button :disabled {
  background-color: #e1e0ee;
  border-color: #e1e0ee;
  color: #101020;
}

#reset-button {
  background-color: #674706;
  color: white;
}/*# sourceMappingURL=app.css.map */