*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "../../../resources/views/auth/login";
@import "../../../resources/views/auth/register";
@import "../../../resources/views/user/profile";
@import "../../../resources/views/homepage/home";
@import "../../../resources/views/games/cf/coinflip";