* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login .login-container {
  background-color: #172235;
  width: 40rem;
  min-height: 35rem;
  padding: 3rem;
  border-radius: 2rem;
  margin: 1rem;
  display: grid;
  justify-content: center;
  text-align: center;
}
.login .login-container .login-title {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  cursor: default;
}
.login .login-container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .login-container .text-danger {
  color: #ff0000;
  font-size: 1rem;
  font-weight: bold;
  cursor: default;
}
.login .login-container .input-placeholder {
  width: 20rem;
  height: 3rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: #1c2941;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.login .login-container .input-placeholder:hover {
  background-color: #2b3f64;
}
.login .login-container .input-placeholder::-moz-placeholder {
  color: #ffffff;
}
.login .login-container .input-placeholder::placeholder {
  color: #ffffff;
}
.login .login-container .login-btn {
  width: 20rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  background-color: #e2a300;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.login .login-container .login-btn:hover {
  background-color: #b58200;
}
.login .login-container .sub-btns {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.login .login-container .sub-btns .sub-btn {
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.login .login-container .sub-btns .sub-btn:hover {
  color: #aaaaaa;
}

.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.register .register-container {
  background-color: #172235;
  width: 40rem;
  min-height: 52rem;
  padding: 3rem;
  border-radius: 2rem;
  margin: 1rem;
  display: grid;
  justify-content: center;
  text-align: center;
}
.register .register-container .register-title {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  cursor: default;
}
.register .register-container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register .register-container .text-danger {
  color: #ff0000;
  font-size: 1rem;
  font-weight: bold;
  cursor: default;
}
.register .register-container .input-placeholder {
  width: 20rem;
  height: 3rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: #1c2941;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.register .register-container .input-placeholder:hover {
  background-color: #2b3f64;
}
.register .register-container .input-placeholder::-moz-placeholder {
  color: #ffffff;
}
.register .register-container .input-placeholder::placeholder {
  color: #ffffff;
}
.register .register-container .register-btn {
  width: 20rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  background-color: #e2a300;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.register .register-container .register-btn:hover {
  background-color: #b58200;
}
.register .register-container .sub-btns {
  display: flex;
  margin: 1rem 0;
}
.register .register-container .sub-btns .sub-btn {
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.register .register-container .sub-btns .sub-btn:hover {
  color: #aaaaaa;
}

.profile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.profile .left {
  background-color: #172235;
  width: 500px;
  height: 38rem;
  border-radius: 20px 0 0 20px;
  padding: 2rem;
}
.profile .right {
  background-color: #172235;
  width: 500px;
  height: 38rem;
  padding: 2rem;
  border-radius: 0 20px 20px 0;
}
.profile .column {
  padding-left: 5rem;
}
.profile .column .profile-title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: default;
  text-align: left;
}
.profile .column .profile-title span {
  color: #e2a300;
}
.profile .column h2 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: default;
  text-align: left;
}
.profile .column .input-placeholder {
  width: 20rem;
  height: 2.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: #1c2941;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.profile .column .input-placeholder:hover {
  background-color: #2b3f64;
}
.profile .column .input-placeholder::-moz-placeholder {
  color: #ffffff;
}
.profile .column .input-placeholder::placeholder {
  color: #ffffff;
}
.profile .column .register-btn {
  width: 20rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  background-color: #e2a300;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.profile .column .register-btn:hover {
  background-color: #b58200;
}
.profile .column .sub-btns {
  display: flex;
  margin: 1rem 0;
}
.profile .column .sub-btns .sub-btn {
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.profile .column .sub-btns .sub-btn:hover {
  color: #aaaaaa;
}

.main_hp {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.main_hp .sidebar {
  background-color: #121A29;
  min-height: 100vh;
  width: 300px;
}
.main_hp .sidebar .banner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_hp .sidebar .banner img {
  height: 100%;
  padding: 10px 20px 10px 10px;
}
.main_hp .sidebar .banner h1 {
  color: white;
}
.main_hp .sidebar .menu ul {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.main_hp .sidebar .menu ul li {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.main_hp .sidebar .menu ul li a {
  color: white;
  text-decoration: none;
  background-color: #1C2941;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
  width: 80%;
  border-radius: 0.7rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.main_hp .sidebar .menu ul li a:hover {
  background-color: #E2A300;
  color: #172235;
}
.main_hp .slots {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.main_hp .slots nav {
  width: 100%;
  height: 100px;
  background-color: #121A29;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.main_hp .slots nav .last-win {
  color: white;
  font-size: 0.5rem;
  height: 90px;
  background-image: url("../../slots/Release the Kraken Megaway.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-position: 20px;
  width: 150px;
  margin: auto 0;
}
.main_hp .slots nav .last-win .gradient {
  background: rgb(226, 163, 0);
  background: linear-gradient(90deg, rgb(226, 163, 0) 0%, rgb(226, 163, 0) 29%, rgba(226, 163, 0, 0.5480567227) 77%, rgba(226, 163, 0, 0) 100%);
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.main_hp .slots nav .last-win .gradient h1 {
  padding: 10px 0 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.main_hp .slots nav .last-win .gradient h2 {
  padding: 20px 0 0 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.main_hp .slots .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  max-height: 400px;
  margin: 0 10% 0 10%;
  margin-bottom: 50px;
}
.main_hp .slots .slideshow-container .prev, .main_hp .slots .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main_hp .slots .slideshow-container .prev:hover, .main_hp .slots .slideshow-container .next:hover {
  filter: brightness(60%);
}
.main_hp .slots .slideshow-container .prev {
  background: linear-gradient(-47.223deg, #E2A300 0%, #7C5A00 100%);
  left: -25px;
}
.main_hp .slots .slideshow-container .next {
  right: -25px;
  background: linear-gradient(-132.777deg, #E2A300 0%, #7C5A00 100%);
}
.main_hp .slots .slideshow-container .prev:hover, .main_hp .slots .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.main_hp .slots .games {
  width: 90%;
  background-color: #172235;
  margin: auto;
  border-radius: 8px;
}
.main_hp .slots .games h1 {
  color: white;
  padding: 15px 0 0 15px;
}
.main_hp .slots .games h2 {
  color: white;
  padding: 5px 0 25px 15px;
}
.main_hp .slots .games .gamesky {
  display: grid;
  max-width: 90%;
  margin: 0 auto;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
  padding-bottom: 50px;
}
.main_hp .slots .games .gamesky a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.main_hp .slots .games .gamesky a:hover {
  filter: brightness(50%);
}
.main_hp .slots .games .gamesky a .game {
  width: 339px;
  height: 180px;
  margin: auto;
  background-image: url("7 Clovers of Fortune.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_hp .slots .games .gamesky a .game button {
  background-color: white;
  color: #172235;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: none;
  filter: none !important;
  transition: all 0.3s ease-in-out;
}
.main_hp .slots .games .gamesky a .game button:hover {
  background-color: #E2A300;
  color: white;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
.cf-body {
  font-family: "Arial", sans-serif;
  background-image: url("../../background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.coin-container {
  background-color: #172235;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  text-align: center;
  animation: fadeIn 1s ease;
  width: 80%;
  max-width: 500px;
  perspective: 1000px;
}
.coin-container :hover {
  transform: scale(1.02);
}
.coin-container h1 {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 0 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.coin-container h3 {
  color: #fff;
}
.coin-container .coin {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
  backface-visibility: hidden;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
}
.coin-container .coin :hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.coin-container .coin img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: rotateY(0deg);
}
.coin-container button {
  background-color: #4e6bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  width: 100%;
  margin-top: 20px;
}
.coin-container button :hover {
  background-image: linear-gradient(45deg, #4e6bff, #ff6b6b);
  transform: scale(1.05);
}
.coin-container .tkn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coin-container p {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
}
.coin-container p #bet_amount {
  color: black;
}

.result {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 2px;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.coin.flip {
  animation: spin 1s cubic-bezier(0.4, 2.5, 0.6, 0.5);
}

h2 {
  color: #333;
  font-size: 24px;
  margin: 10px 0;
}

.disabled {
  background-color: black !important;
  color: grey !important;
}/*# sourceMappingURL=app.css.map */